<!DOCTYPE html>
<html lang="sr" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Password Reset</title>
	</head>
	<body>
		<div>
			<p>Primili smo zahtev za resetovanje vase lozinke. Molimo vas da koristite sledeci kod kako biste zavrsili proces resetovanja lozinke:</p>
			<span th:text="${passwordResetToken}">123456</span>
			<p>Ovaj kod ce isteci za 15 minuta.</p>
			<p>
				Ukoliko niste zatrazili resetovanje lozinke, molimo vas da ignorisete ovaj email i razmotrite promenu lozinke kako biste zastitili
				svoj nalog.
			</p>
		</div>
	</body>
</html>
