<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Account Verification</title>
	</head>
	<body>
		<div>
			<p>Thank you for registering on StarterKit. To complete your registration, please verify your email address using the code below:</p>
			<span th:text="${verificationCode}">123456</span>
		</div>
	</body>
</html>
