:root {
  --color-brand-background: #087cfa;
  --color-brand-background-hover: #0969da;
  --color-brand-background-pressed: #0550ae;
  --color-brand-foreground-link: #087cfa;

  --color-neutral-background1: #ffffff;
  --color-neutral-background1-hover: #f6f8fa;
  --color-neutral-background1-pressed: #eaeef2;
  --color-neutral-background-disabled: #f6f8fa;

  --color-neutral-foreground1: #24292f;
  --color-neutral-foreground-on-brand: #ffffff;
  --color-neutral-foreground-disabled: #8c959f;

  --color-neutral-stroke1: #d1d9e0;
  --color-neutral-stroke1-hover: #bdc6cf;
  --color-neutral-stroke1-pressed: #8c959f;
  --color-neutral-stroke-disabled: #d1d9e0;

  --color-status-danger-background3: #da3633;
  --color-status-danger-background3-hover: #b91c1c;

  --color-status-success-background: #1a7f37;
  --color-status-success-background-hover: #196127;
  --color-status-warning-background: #bf8700;
  --color-status-warning-background-hover: #9a6700;
  --color-status-info-background: #0969da;
  --color-status-info-background-hover: #0550ae;

  --color-neutral-background2: #f6f8fa;
  --color-neutral-background3: #eaeef2;
  --color-neutral-foreground2: #57606a;
  --color-neutral-foreground3: #656d76;
  --color-neutral-stroke2: #bdc6cf;
  --color-neutral-stroke3: #8c959f;
}

.dark {
  --color-brand-background: #087cfa;
  --color-brand-background-hover: #58a6ff;
  --color-brand-background-pressed: #0969da;
  --color-brand-foreground-link: #58a6ff;

  --color-neutral-background1: #0d1117;
  --color-neutral-background1-hover: #21262d;
  --color-neutral-background1-pressed: #30363d;
  --color-neutral-background-disabled: #21262d;

  --color-neutral-foreground1: #e6edf3;
  --color-neutral-foreground-on-brand: #ffffff;
  --color-neutral-foreground-disabled: #7d8590;

  --color-neutral-stroke1: #30363d;
  --color-neutral-stroke1-hover: #484f58;
  --color-neutral-stroke1-pressed: #6e7681;
  --color-neutral-stroke-disabled: #30363d;

  --color-status-danger-background3: #da3633;
  --color-status-danger-background3-hover: #f85149;

  --color-status-success-background: #238636;
  --color-status-success-background-hover: #2ea043;
  --color-status-warning-background: #bf8700;
  --color-status-warning-background-hover: #d4a72c;
  --color-status-info-background: #0969da;
  --color-status-info-background-hover: #58a6ff;

  --color-neutral-background2: #21262d;
  --color-neutral-background3: #30363d;
  --color-neutral-foreground2: #b1bac4;
  --color-neutral-foreground3: #8b949e;
  --color-neutral-stroke2: #484f58;
  --color-neutral-stroke3: #30363d;
}
