.outerContainer {
  margin: 30px 0;
}

.componentsContainer {
  width: 100%;
  height: 100%;
  padding: 50px 0;
}

.componentContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.alertContainer {
  max-width: 500px;
}

.avatarContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.badgeContainer > span {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
}

.dividerContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 60px;
}

.dividerTextTest {
  font-weight: bold;
  color: #444;
  font-size: 0.9rem;
  padding: 0 0.5rem;
}

.containerTest {
  border: 1px dashed #888;
  margin-top: 1rem;
  padding: 1rem;
}
